h1{
    color: olivedrab;
    font: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;

}
span {
	display: inline-block; 
	width: 50px;
}
label{
    margin: 10px;
}
td {
	height: 40px;
	width: 40px;
	border: 1px solid;
	text-align: center;
	vertical-align:middle;

	
}
